<!-- The Home page view of TaskGlam Flask Application -->
{% extends 'base.html' %} {% block title %} Welcome to TaskGlam {% endblock %}
{% block content %}

<!-- Hero Image Section -->
<div class="position-relative d-md-block overflow-hidden text-center shadow-lg">
  <img
    src="{{ url_for('static', filename='images/TaskGlam-hero.jpg') }}"
    alt="TaskGlam Hero Image"
    style="max-width: 100%"
  />
</div>

<!-- Hero Text Section -->
<div class="container text-center my-5 text-warning">
  <div class="col-md-8 mx-auto">
    <h1>TaskGlam</h1>
    <h5 class="mb-5">
      Task Management with a Touch of Glamor
    </h5>
    <a class="btn btn-primary btn-lg" href="{{ url_for('register_page') }}"
      >Get Started</a
    >
  </div>
</div>

<!-- Features Section -->
<div class="container my-5">
  <div class="row">
    <!-- Feature 1 -->
    <div class="col-lg-4">
      <div class="card mb-4 shadow-sm">
        <img
          src="{{ url_for('static', filename='images/feature1 image.jpg') }}"
          class="card-img-top"
          alt="Feature Image"
        />
        <div class="card-body">
          <h5 class="card-title text-danger">Easy to Use</h5>
          <p class="card-text mute">
            Our intuitive interface ensures you can manage your tasks
            effortlessly.
          </p>
        </div>
      </div>
    </div>
    <!-- Feature 2 -->
    <div class="col-lg-4">
      <div class="card mb-4 shadow-sm">
        <img
          src="{{ url_for('static', filename='images/feature2 image.jpg') }}"
          class="card-img-top"
          alt="Feature Image 2"
        />
        <div class="card-body">
          <h5 class="card-title text-danger">Stay Organized</h5>
          <p class="card-text mute">
            Keep all your tasks in one place and stay on top of your schedule.
          </p>
        </div>
      </div>
    </div>
    <!-- Feature 3 -->
    <div class="col-lg-4">
      <div class="card mb-4 shadow-sm">
        <img
          src="{{ url_for('static', filename='images/feature3 image.jpg') }}"
          class="card-img-top"
          alt="Feature Image 3"
        />
        <div class="card-body">
          <h5 class="card-title text-danger">Effortless Productivity</h5>
          <p class="card-text mute">
            Simplifies task management process, making it less stressful and
            time-consuming.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-4 text-danger shadow-sm mt-5 mr-5">
          <h5>Adding Task is easy with TaskGlam</h5>
          <img src="{{ url_for('static', filename='images/Add-task.gif') }}" alt="Adding task on TaskGlam" class="card-img-top" style="max-width: 400px;">
        </div>
    </div>
    <div class="col-lg-6">
      <div class="text-danger mt-5">
        <h5>Edit a task with one click</h5>
        <img src="{{ url_for('static', filename='images/edit-task.gif') }}" alt="Adding task on TaskGlam" class="card-img-top" style="max-width: 400px;">
    </div>
  </div>
</div>
</div>

<!-- Benefits Section -->
<div class="container my-5">
  <h2 class="text-center mb-4 text-warning">Why Choose TaskGlam?</h2>
  <div class="row">
    <!-- Benefits list -->
    <div class="col-md-6 text-light">
      <ul class="list-unstyled">
        <li class="media my-4">
          <i class="fas fa-check-circle fa-2x mr-3"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Boost Productivity</h5>
            Increase your efficiency with our advanced task management features.
          </div>
        </li>
        <li class="media my-4">
          <i class="fas fa-check-circle fa-2x mr-3"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Stay Organized</h5>
            Organize your tasks in a way that makes sense to you.
          </div>
        </li>
        <li class="media my-4">
          <i class="fas fa-check-circle fa-2x mr-3"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Reduce Stress</h5>
            Helps you manage your workload effectively, reducing stress and
            feelings of overwhelm.
          </div>
        </li>
        <li class="media my-4">
          <i class="fas fa-check-circle fa-2x mr-3"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Accessibility and Convenience</h5>
            Offers easy access from any device with an internet connection, allowing you to manage your tasks on the go, update them as needed, and stay on top of your workload regardless of location.
          </div>
        </li>
        <li class="media my-4">
          <i class="fas fa-check-circle fa-2x mr-3"></i>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Time Management</h5>
            Set specific deadlines for each task, creating a sense of urgency and promoting time management.
          </div>
        </li>
      </ul>
    </div>
    <!-- Benefits Image -->
    <div class="card-img-right col-md-6 shadow-lg">
      <img
        src="{{ url_for('static', filename='images/Benefit image.jpg') }}"
        class="card-img-top"
        alt="Benefits Image"
      />
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <div class="mb-4 text-danger shadow-lg mt-5">
        <h5>Mark a Task as Completed</h5>
        <img src="{{ url_for('static', filename='images/complete-task.gif') }}" alt="Marking task as on TaskGlam" class="card-img-top" style="max-width: 400px;">
      </div>
    </div>
    <div class="col-lg-6 mt-5">
      <div class="text-danger">
        <h5>Delete a Task in one click</h5>
        <img src="{{ url_for('static', filename='images/delete-task.gif') }}" alt="Deleting task on TaskGlam" class="card-img-top" style="max-width: 400px;">
      </div>
    </div>
  </div>
</div>

  <!-- About Section -->
  <div class="container my-5 mt-7 p-2 text-danger">
    <h2 class="text-center text-warning">About TaskGlam</h2>
    <p style="font-size: 18px;">
      TaskGlam was born out of my desire to create a user-friendly and efficient
      platform for managing tasks. I constantly juggled multiple tasks and
      deadlines, often feeling overwhelmed and disorganized. Existing task
      management tools felt cumbersome or lacked the features I needed. That's
      when I decided to create TaskGlam – a user-friendly and efficient platform
      to streamline workflow and achieve more.
    </p>
    <p style="font-size: 18px;">
      This project started in May, 2024 as part of my curriculum at Holberton
      School. You can learn more about Holberton School at
      <a href="https://www.holbertonschool.com/" target="_blank"
        >Holberton School</a
      >.
    </p>
    <div>
      <h4>The Solo Developer</h4>
      <p style="font-size: 18px;">**Queendarlin Nnamani**</p>
      <p style="font-size: 18px;">
        A Technical Writer | Aspiring UI/UX & Full-Stack Developer.
      </p>
      <p>
        I built TaskGlam from the ground up, focusing on user experience and
        intuitive design principles.
      </p>
      <ul class="list-unstyled">
        <li>
          <a
            href="https://www.linkedin.com/in/queendarlin-nnamani/"
            target="_blank"
            >Queendarlin Nnamani</a
          >
          <br />
          <a href="https://github.com/Queendarlin" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a href="https://x.com/QOdinaka" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
      </ul>
      <p>
        To see the source code for TaskGlam, visit the project's GitHub
        repository:
        <a href="https://github.com/Queendarlin/TaskGlam" target="_blank"
          >TaskGlam GitHub Repository</a
        >.
      </p>
    </div>
  </div>
</div>

{% endblock %}
