<!-- The login page of TaskGlam Flask Application -->
{% extends 'base.html' %} {% block title %} Login Page {% endblock %} {% block
content %}
<!-- Container to center the form vertically and horizontally -->
<body class="text-center">
  <div
    class="container d-flex justify-content-center align-items-center vh-100"
  >
    <!-- Form for user login -->
    <form
      method="POST"
      class="form-signin"
      style="background-color: #B9BBB6; border-radius: 15px; padding: 30px;"
    >
      {{ form.hidden_tag() }}
      <!-- CSRF protection -->

      <!-- Heading for the login form -->
      <h3 class="mb-3 font-weight-normal text-center" style="color: #333">
        Please Login
      </h3>

      <!-- Username input field -->
      <div class="form-group">
        {{ form.username(class="form-control form-control-lg",
        style="border-radius: 20px; color: #333; padding-left: 10px;",
        placeholder="Username") }} {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        <br />
        {% endfor %}
      </div>

      <!-- Password input field -->
      <div class="form-group">
        {{ form.password(class="form-control form-control-lg",
        style="border-radius: 20px; color: #333; padding-left: 10px;",
        placeholder="Password") }} {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- Submit button for the form -->
      {{ form.submit(class="btn btn-primary btn-lg btn-block mt-4 mb-3",
      style="border-radius: 20px;") }}

      <!-- Link to the registration page for users who don't have an account -->
      <div class="checkbox mb-5 text-center">
        <h5>Do not have an account?</h5>
        <a
          class="btn btn-primary mt-3"
          href="{{ url_for('register_page') }}"
          style="border-radius: 15px;"
          >Sign up</a
        >
      </div>
    </form>
  </div>
</body>
{% endblock %}
